{% include base_path %}

{% comment %}
  Determine teaser image
{% endcomment %}
{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% comment %}
  Determine the post title
{% endcomment %}
{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% comment %}
      Display teaser image if grid view
    {% endcomment %}
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% comment %}
      Display post title
    {% endcomment %}
    <h2 class="archive__item-title" itemprop="headline">
      {% assign nolink_flag = post.nolink | default: post.header.nolink %}
      {% assign link_flag  = post.link   | default: post.header.link %}

      {% if nolink_flag %}
        <span class="no-link">{{ title }}</span>
      {% else %}
        {% assign main_link = link_flag | default: base_path | append: post.url %}
        <a href="{{ main_link }}" rel="permalink">{{ title }}</a>

        {% if link_flag %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink" class="permalink-icon">
            <i class="fa fa-link"></i>
          </a>
        {% endif %}
      {% endif %}
    </h2>

    {% comment %}
      Optional read time
    {% endcomment %}
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% comment %}
      Optional post date
    {% endcomment %}
    {% if post.date %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>
    {% endif %}

    {% comment %}
      Optional venue/location/type
    {% endcomment %}
    {% if post.venue %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.type }}, {{ post.venue }}, {{ post.location }}
      </p>
    {% endif %}

    {% comment %}
      Optional excerpt
    {% endcomment %}
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}

  </article>
</div>
